@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  background: linear-gradient(to bottom, #6ab7f5, #fff);
}

.container {
  width: 100dvw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex-box {
  position: relative;
  width: 425px;
  height: auto;
}

.pokedex-bg {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
}

.pokemon-img-area {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-63%, 20%);
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-img {
  height: 100%;
  object-fit: contain;
}

.pokemon-info {
  position: absolute;
  font-weight: 600;
  color: #f0f0f0;
  top: 54.5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(8px, 5vw, 25px);
  text-align: center;
  width: 100%;
}

.pokemon-info .name {
  color: #3a444d;
  text-transform: capitalize;
}

.search-form {
  position: absolute;
  width: 65%;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

.search-input {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #f0f0f0;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 65%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 20px;
}

.btn {
  width: 50%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.btn:active {
  box-shadow: inset -4px 4px 0 #222;
}

.error {
  position: absolute;
  top: 88%;
  color: red;
  font-size: 0.9rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
